---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Trade in Cool</title>
  <link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.gif' type='image/x-icon' />
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/fonts.css'>
  <link rel='stylesheet' href='{{site.baseurl}}/css/style.css?zyx'>
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Trade in Cool</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      Made by <a href="http://tradeincool.com">Trade in Cool</a>, Source Code on <a href="https://github.com/tradeincool/tradeincool.github.com">GitHub</a>
    </div>
  </div>
<a href="https://github.com/tradeincool/tradeincool.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>
