<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
  <!--[if gte IE 9]><!-->
  <html>
    <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | Jack Kinsella - Rails Developer London </title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Typekit script -->
    <script type="text/javascript" src="http://use.typekit.com/xnr7evu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 <script src="https://www.google.com/jsapi?key=ABQIAAAAzwp5edGWqlvIykO2q23PjRRNsl9Rf-MdYUjjCB-KZyY6gQXaIxTVJvVL1QqN_pX7ntidDPBczHGVnQ" type="text/javascript"></script>
      <script>google.load("jquery", "1.6.2"); </script>
    <meta name="author" content="Jack Kinsella" />
    <!-- Can never be removed if we want continued webmaster tools-->
    <meta name="google-site-verification" content="937-6YOj2Gnp0ZDEH9UNd3MhKNUwA2JzyVsnhqKG-nU" />


    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/code_highlights.css">
    <link rel="stylesheet" href="/css/widescreen.css"/>

    <link rel="apple-touch-icon" sizes="114x114" href="/images/avatar.jpg"/>

    <meta name="description" content="The blog, CV and portfolio of Jack
    Kinsella, Rails Developer in London."/>
    <body lang="en" id="main-layout"   class="vcard ">
      <header id="masthead">
      <div class="wrapper">
        <a id="logo" href="/" rel="author">
          <div>
            <figure class="jk-logo frame">
            <img src="/images/rails-developer-london.jpg" alt="Rails Developer London"/>
            </figure>
            <h1 class="fn">Jack Kinsella</h1>
            <p class="title">Rails Developer London</p>
          </div>
        </a>
        <nav>
        <ul>
          <li class="index">
          <a href="/blog.html">
            <span>Blog</span>
          </a>
          </li>
          <li class="projects">
          <a href="/portfolio.html">
            <span>Portfolio</span>
          </a>
          </li>
          <li class="about">
          <a href="/rails-developer-london.html">
            <span>Rails Developer London</span>
          </a>
          </li>
        </ul>
        </nav>
      </div>
      </header>

      <article id="content" class="hentry">

      <header>
      <div>
        <h1 class="entry-title">{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
      </header>

      <div class="wrapper">
        <div class="entry-content">
        {{ content }}
      </div>
      </div>

      </article>

      <footer id="colophon">
      <div class="wrapper">
        <p
        Jack Kinsella is a <a
          href="/rails-developer-london.html">Rails
          developer in London</a>, the founder of <a href="http://www.oxbridgenotes.co.uk">Oxbridge Notes</a> and the co-founder of <a href="http://www.bolivianexpress.org">Bolivian Express.</a>. Follow me for thoughts on Ruby/Rails, online marketing, and entrepreneurship.</p>

        <section class="links about_and_follow">
          <ul>
            <li>
            <a href="http://twitter.com/jackkinsella">
             Twitter @jackkinsella
            </a>
            </li>
            <li id="followBlog">
            <a href="http://feeds.feedburner.com/jackkinsella">
              RSS Feed 
            </a>
            </li>
          <li id="email">
          <script type="text/javascript" language="javascript">
            <!--
            ML="sonS0.:>rei hC2\"cgf@u?abljkt/%m=<";
            MI="PF;<89BO?NF:HK16IF@J5J:209HHFCANF:H5@1NE0DGI9@KO=120DHK:2AM>43:K9?7IF@J5J:209HHFCANF:H5@1NPLF7";
            OT="";
            for(j=0;j<MI.length;j++){
              OT+=ML.charAt(MI.charCodeAt(j)-48);
            }document.write(OT);
// --></script>
            </a>
            </li>
          </ul>
          <section id="copyright">
          <p>
          Coded and created by Jack Kinsella. </a>.
          </p>
          </section>
        </div>
        </footer>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-11447599-9']);
          _gaq.push(['_trackPageview']);

          (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
           })();

         </script>

       </body>
     </html>
