<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }} | Trade in Cool </title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="author" content="Trade in Cool" />
<meta name="description" content=""/>

<link rel="apple-touch-icon" sizes="114x114" href="/images/avatar.jpg"/>

<link rel="stylesheet" href="/css/all.css"/>

<body lang="en" id="main-layout" class="vcard ">
      <header id="masthead">
      <div class="wrapper">
        <a id="logo" href="/" rel="author">
          <div>
            <figure class="jk-logo frame"><img src="http://www.tradeincool.com/sites/all/themes/ktvmi/images/ktvmi_logo_v2.png" alt="Developer"/></figure>
            <h1 class="fn">Trade in Cool</h1>
            <p class="title">Developer</p>
          </div>
        </a>
        <nav>
        <ul>
          <li class="index">
          <a href="/blog.html">
            <span>Blog</span>
          </a>
          </li>
          <li class="projects">
          <a href="/portfolio.html">
            <span>Portfolio</span>
          </a>
          </li>
          <li class="about">
          <a href="/rails-developer-london.html">
            <span>About</span>
          </a>
          </li>
        </ul>
        </nav>
      </div>
      </header>

      <article id="content" class="hentry">

      <header>
      <div>
        <h1 class="entry-title">{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
      </header>

      <div class="wrapper">
        <div class="entry-content">
        {{ content }}
      </div>
      </div>

      </article>

<footer id="colophon">
<div class="wrapper">
<p>Additional text goes here.</p>
<section class="links about_and_follow">
<!-- facebook like -->
<div class="fb-like" data-send="false" data-width="280"></div>
<!-- twitter -->
<div class="twitter"><a class="twitter-share-button" data-count="horizontal">Tweet</a></div>
<!-- g+ -->
<div class="g-plusone" data-size="medium"></div>
<div id="fb-root"></div><!-- fb needs this -->
</section>
<section id="copyright"><p>Coded and created..</p></section>
</div>
</footer>

<script>(function(d, s) {
  var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.src = url; js.id = id;
    fjs.parentNode.insertBefore(js, fjs);
  };
  load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk');
  load('https://apis.google.com/js/plusone.js', 'gplus1js ');
  load('//platform.twitter.com/widgets.js', 'tweetjs');
}(document, 'script'));
</script>

</body>
</html>
