---
layout: default
---
{{ content }}
<h2> One Last Thing </h2>
<p>I spend hours researching and writing these posts. If you'd like to return the good will and say thanks please <a href="#masthead">Tweet this page</a> or, better again, mention it on your blog.</p>
<p><small>Written by {{ page.author }}, {{ page.date | date_to_string }}</small></p>
<h2> Related Posts </h2>
<ul class="posts">
  {% for post in site.related_posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
