---
layout: default
---
<!-- Social Bookmarking Widget.Asynchonous. -->
<div id="social_bookmarks">
<div id="custom-social-bookmarks-twitter" class="bookmark_icon"></div>
<div id="custom-social-bookmarks-plusone" class="bookmark_icon"></div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
    
  jQuery('#custom-social-bookmarks-twitter').append(decodeURIComponent('%3Ca%20href%3D%22http%3A%2F%2Ftwitter.com%2Fshare%22%20class%3D%22twitter-share-button%22%20data-count%3D%22vertical%22%20data-via%3D%22jackkinsella%22%3ETweet%3C%2Fa%3E%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22http%3A%2F%2Fplatform.twitter.com%2Fwidgets.js%22%3E%3C%2Fscript%3E'));


  jQuery('#custom-social-bookmarks-plusone').append(decodeURIComponent('%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22https%3A%2F%2Fapis.google.com%2Fjs%2Fplusone.js%22%3E%3C%2Fscript%3E%3Cg%3Aplusone%20size%3D%22tall%22%3E%3C%2Fg%3Aplusone%3E'));

  jQuery('#custom-social-bookmarks').parent().css('padding', '0px');

});
</script>
{{ content }}
<script>(function() {
var hn_link = "http://news.ycombinator.com/submitlink?u=";
if (window.hn_url) { 
	hn_link += encodeURIComponent(hn_url); 
}
else { 
	hn_link += encodeURIComponent(document.location);
}
if (window.hn_title) { 
	hn_link += "&t=" + encodeURIComponent(hn_title); 
}
else { 
	hn_link += "&t=" + encodeURIComponent(document.title);
}

var write_string = "<img src='http://ycombinator.com/images/y18.gif' alt='Hacker News' width=18 height=18 style='border:1px #ffffff solid; margin-left:0;'/><a href="+hn_link+" alink='#000000'; vlink='#828282' style='text-decoration:none' target='_blank'>Discuss on Hacker News</a>";
document.write(write_string);
})()

</script>
<h2> One Last Thing </h2>
<p>
  I spend hours researching and writing these posts. If you'd
  like to return the good will and say thanks please <a
    href="#masthead">Tweet this page</a> or, better again, mention it on your blog.
</p> 
<p>
  <small>Written by {{ page.author }}, {{ page.date | date_to_string }}</small>
</p>
<h2> Related Posts </h2>
<ul class="posts">
    {% for post in site.related_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
